.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    margin: 15px 15px;
    
}

.card img{
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

.card div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.saveButton{
    cursor: pointer;
    height: 5vh;
    background-color: #0071BC;
    border-radius: 4px;
    width: 30%;
    margin: 0 auto;
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 3%;
}
form input, select{
    height: 5vh;
}
form label{
    margin: 10px 0;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;  
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}
.buttons{
    cursor: pointer;
}

@media (max-width:700px) {
    ul{
        overflow-y: auto;
        max-height: 500px;
    }    
}