header{
    background-color: #0071BC;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    }
.addButton{
    text-align: center;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 100%;
    background-color: #0071BC;
    color: white;
    margin-right: 10vw;
    cursor: pointer;
}
.returnButton{
    border: none;
    color: white;
    background-color: #0071BC;
    margin-right: 10vw;
    cursor: pointer;
}

